.clientLogin-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 30px;

   img {
      width: 150px;
   }

   h2 {
      color: var(--light-red);
      font-weight: bold;
      font-size: 3rem;
   }

   form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 2rem 0;
      width: 80%;
      
      div {
         height: 50px;
         position: relative;
         width: 60%;
         margin-bottom: 2rem;
      }

      .cut {
         background-color: var(--background);
         border-radius: 10px;
         height: 20px;
         left: 20px;
         position: absolute;
         top: -20px;
         transform: translateY(0);
         transition: transform 200ms;
         width: 76px;
      }

      .cut-short {
         width: 50px;
      }
      
      input {
         border-radius: 30px;
         border: 0;
         box-sizing: border-box;
         font-size: 18px;
         height: 100%;
         outline: 0;
         padding: 4px 20px 0;
         width: 100%;
      }
      
      input:focus ~ .cut,
      input:not(:placeholder-shown) ~ .cut{
         transform: translateY(8px);
      }
      
      label {
         color: #65657b;
         left: 20px;
         line-height: 14px;
         pointer-events: none;
         position: absolute;
         transform-origin: 0 50%;
         transition: transform 200ms, color 200ms;
         top: 20px;
      }
      
      input:focus ~ label,
      input:not(:placeholder-shown) ~ label {
         transform: translateY(-30px) translateX(10px) scale(0.75);
      }
      
      input:not(:placeholder-shown) ~ label {
         color: var(--dark-red);
         font-weight: bold;
      }
      
      input:focus ~ label {
         color: var(--red);
         font-weight: bold;
      }

      button {
         width: 150px;
         padding: 10px 20px;
         border-radius: 20px;
         background-color: var(--red);
         color: var(--white);
         transition: all 0.5s;

         &:hover {
            background-color: var(--dark-red);
         }
      }
   }

   button{
      width: 150px;
      padding: 10px 20px;
      border-radius: 20px;
      background-color: var(--red);
      color: var(--white);
      transition: all 0.5s;

      &:hover {
         background-color: var(--dark-red);
      }
   }
}

