body{
    background-color: #222222;
    /* background-image: url('../../assets/background/home.png'); */

    .btn-sobreNos{
        position: relative;
        background-color: #A00404;
        border-color: #A00404;
        border-radius: 30px;
        color: white;
        font-size: 22px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 20px;
        float: right;
        right: 80px;
        width: 200px;
        height: 50px;
    }

    .btn-sobreNos:hover{
      background-color: #e04131;
      font-weight: 600;
    }

    .home{
      /* display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; */
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50px;  

      .logo{
        margin-left: 100%;
        right: 20%;
        left: 105%;
        padding: 30%;
      } 
    
    .buttonPedir{
        width: 700px;
        height: 70px;
        background-color: #FF4328;
        border-color: #FF4328;
        border-radius: 30px;
        color: white;
        font-size: 26px;
        font-weight: 600;
        cursor: pointer;
    }
    
    .buttonPedir:hover{
        background-color: #A00404;
        border-color: #A00404;
        transition: 0.5s;
    }
  }
}

@media screen and (max-width: 930px){

  body .home .buttonPedir{
    width: 320px;
    font-size: 18px;
  }

  body .home .logo{
    width: 500%;
    margin-left: 0px;
  }

  body .btn-sobreNos{
    position: relative;
    width: 130px;
    font-size: 18px;
    right: 20px;
  }
    
}