.estabilishment-section{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6rem 2rem 1rem 2rem;

    .title{
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        color: white;
    }

    .optionText{
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
        
    .options{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        
        .action{
            text-align: center;
            line-height: 50px;
            background-color: #690505;
            transition: all 0.5s;
            color: white;
            font-size: 18px;
            font-weight: bold;
            border-radius: 20px;
            height: 80px;
            width: 60%;
            padding: 10px;
            margin: 10px;
        }
    
        .action:hover{
            background-color: var(--light-red);
        }
    }
    
    a{
        width: 150px;
        padding: 10px 20px;
        border-radius: 20px;
        text-align: center;
        float: right;
        font-weight: 600;
        margin-bottom: 5px;
        background-color: var(--red);
        color: var(--white);
        transition: all 0.5s;
    
        &:hover {
            background-color: var(--dark-red);
        }
    }

}





