

   .card-product.list {
      width: 60%;
      margin: 0;

      &:first-child {
         margin: 2rem 0 0 0;
      }

      .button-area {
         button {
            width: auto!important;
         }
      }

      @media screen and (max-width: 1200px) {
         width: 90%!important;
      }

      @media screen and (max-width: 800px) {
         width: 100%!important;
      }

      @media screen and (max-width: 500px) {
         flex-direction: column;
         height: auto;
      }
   }

   .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
      align-items: center;
      justify-content: center;
      display: flex!important;
   }

   #myBtn {
      color: var(--white);
      font-weight: bold;
      font-size: 1.25rem;
      width: 46px;
      height: 46px;
      border-radius: 30px;
      background-color: var(--dark-red);
      transition: all 0.5s;
      display: none;
      position: fixed;
      bottom: 20px;
      top: 96px;
      left: 14px;
    }

    #myBtn:hover{
      background-color: var(--light-red);
    }
    
    


